{% extends 'layouts/main.html' %}
{% block title %}Delete Artist{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form class="form" method="post" action="/artists/{{artist.id}}/delete">
      {{ form.hidden_tag() }}
      <h3 class="form-heading">Delete Artist  <em>{{ artist.name }}</em> ? <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>

      <br>
      <br>
      
      <small>To confirm your delete, click the button below!</small>
      {{ form.delete(class_ = 'btn btn-primary btn-lg btn-block', value="Delete Artist") }}
     
    </form>
  </div>
{% endblock %}
